.AddPlayer {
    margin-left: 38.5%;
    margin-right: 38.5%;
    width: 100%;
    margin-top: 150px;
}

.AddPlayer__input {
    background: transparent;
    border: 2px black solid;
    width: 400px;
    font-size: 30px;
    padding: 10px;
}

.AddPlayer__submit {
    margin-left: 30px;
    background-color: #464aa3;
    padding: 15px 25px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #c3c4e2;
}
.AddPlayer__submit:hover {
    background-color: #2c603c;
    color: #c3c4e2;
    cursor: pointer;
} 